//
@import "~bootstrap/scss/bootstrap.scss";


    
header{
    background-color: white;
  
    img{
        width: 80%;
        padding: 10px 0px 15px 0px;
    }
    ul{
    margin: 0;
    }
    li{
        display: inline-block;
        padding: 39px 0px 49px 0px;
        margin-left: 10px;
        line-height: normal;
        font-size: 12px;
    }
    .active{
        border-bottom:4px solid rgb(0, 110, 255);
        line-height: normal;
    }
    .ms_activ-link{
        color: rgb(0, 110, 255);
    }
    a{
        text-decoration: none;
        color: black;
    }


    .ms_background-img{
        height: 400px;
        object-fit: cover;
        object-position: top;
        width: 100%;
        padding: 0;
    }
    .ms_background-color{
      background-color: rgb(41, 41, 41);
    }
    h3{
      position: relative;
      bottom: 45px;
    }
    .ms_boxt-text{
      color: white;
      background-color: rgb(0, 110, 255);
      display: inline-block;
      padding: 7px 25px;
      text-decoration: none;
    }
    .ms_box{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    
    .ms_margin{
        width: calc((100% / 6) - 30px);
       margin: 0 15px;
       margin-bottom: 60px;
    }
    a{
        text-decoration: none;
    }
    .ms_img{
       object-fit: cover;
       object-position: top;
       width: 190px;
       height: 180px;
    }
    .ms_titolo{
       color: white;
       padding-top: 20px;
    }
     
}

main{


    .ms_background-blue{
        background-color: rgb(0, 110, 255);
    }
    .ms_font{
        font-size: 12px;
    }
    .ms_img{
        width: 25%
    }
    .ms_img-locator{
        width: 17%;
    }
    .ms_link{
        color: white;
        text-decoration: none;
    }


    .ms_main{
        background-image: url(../assets/footer-bg.jpg);
        height: 400px;
    }
    h3{
        color: white;
        font-size: 20px;
        padding-bottom: 2px;
    }
    .ms_d-flex-collum{ 
        width: 55%; 
        height: 345px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    ul{
        padding-left: 0;
    }
    a{
      text-decoration: none;
      color: rgb(158, 156, 156);
      font-size: 12px;
    }
    .ms_img-Dc-box{
        height: 400px;
        width: 37%;
    }
    .ms_img-Dc{
        width: 510px;
        object-fit: cover;
        height: 100%;
    }

}


footer{
    background-color: rgb(61, 61, 61);

    .ms_border-button{
        border: 2px solid rgb(0, 110, 255);
    }
    .ms_link{
        color: white;
        text-decoration: none;
    }
    .ms_color{
        color:rgb(0, 110, 255);
    }
}